@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.whole{
  display: grid;
  grid-template-columns: 13fr 0.7fr 8fr;
  width: 100%;
  height: 100vh;
}
.orange-column{
  grid-column-start: 1;
  display: grid;
  grid-template-rows: repeat(6, 110px);
  gap: 1px;
  background-color: #FF0400;
  color: #FF0400;
}
.orange-column_row{
  display: grid;
  grid-template-columns: 30px 3fr 1fr;
  gap: 1px;
  font-weight: 500;
}
.orange-column_row_f-column, .orange-column_row_s-column{
  background-color: #FF7400;
}

.orange-column_row:hover{
  color:white;
  border: 1px solid white;
  background-color: white;
}
.orange-column_row_f-column{
  writing-mode: vertical-rl;
  transform: rotate(0.5turn);
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
  flex-wrap: wrap;
}
.orange-column_row_s-column{
  font-size: 5.5vw;
  text-transform: capitalize;
  padding:  15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.orange-column_row_t-column{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  background-color: #FF0400;
}
.orange-column_row_t-column div{
  background-color: #FF7400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 1vw;
}
.orange-column_row_t-column span{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
  background-color: #FF0400;
  border-radius: 20px;
  color: #FF7400;
}

.middle-column{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  font-size: 1.6em;
  font-weight: 500;
  position: relative;
}
.middle-column div{
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
}
.middle-column div:first-child{
  background-color: #FF00FF;
}
.middle-column div:nth-child(2){
  background-color: #1900FF;
  transform: rotate(0.5turn);
}
.middle-column i{
  position: absolute;
  top: 50%;
  color: white;
  left: 0;
  
}

.red-column{
  display: grid;
  grid-auto-rows: 25px 1fr;
  background-color: #FF0400;
  padding: 10px;
  font-weight: 500;
}
.red_nav{
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}
.red_contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.red_contents div{
  width: 47.8%;
  margin: 12px 3px;
  border-top: 1px solid black;
  padding: 13px 0;
}
.red_contents div span{
  font-size: 1.2em;
}
.red_contents div p{
  font-size: 0.7em;
}